body {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 100%;
    min-width: 930px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header part */

header {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.headLinks {
    list-style-type: none;
    display: flex;
}

.headLink {
    text-decoration: none;
    color: #e6e7eb;
    font-size: 18px;
    margin: 0 0 0 20px;
}

/* First part */

.firstPart {
    background-color: #1F2937;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.firstContainer {
    color: #f9faf8;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstLeft {
    width: 45%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.firstLeft > h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.firstLeft > p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0.5rem 0;
}

.firstLeft > button {
    background-color: #3882f6;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 0;
    color: white;
    font-weight: bold;
}

.firstRight {
    width: 45%;
    height: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Second Part */

.secondPart {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondContainer {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rand {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardTxt {
    width: 10rem;
    margin: 0 1rem 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 10rem;
    height: 10rem;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin: 0 0 1rem 0;
}

.txt {
    text-align: center;
}